matplotlib==3.9.1
numpy==1.26.4
pandas==2.2.2
scipy==1.14.0
statsmodels==0.14.5
torch==2.3.1 
torchvision== 0.20.1
torchaudio==2.8.0
stable-baselines
stable-baselines3[extra]==2.7.0
sb3-contrib==2.7.0
shimmy==2.0.0
pandas_market_calendars==5.1.1
pathlib===1.0.1
streamlit==1.49.1
altair==5.5.0
plotly==6.0.0
